<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ES_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ES_GUI.Properties.Settings>
            <setting name="HeatmapPath" serializeAs="String">
                <value>DEFAULT.map</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeatFontColour" serializeAs="String">
                <value />
            </setting>
            <setting name="HeatFontAuto" serializeAs="String">
                <value>False</value>
            </setting>
        </ES_GUI.Properties.Settings>
    </userSettings>
</configuration>